<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <!-- ^^^ makes it so if view on phone, doesnt go to the desktop size ^^^ -->
    <title>Chris's Portfolio Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <!-- ^to make the website look the same in all browsers^ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- ^for the icons^ -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet">
    <!-- ^google fonts^ -->
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="./images/1-6-2020 graffiti initials.png" alt="" class="logo__image">
        </div>
        <div class="resume">
            <a href="./images/ChristopherLeeResume.pdf" target="_blank" download="ChristopherLeeResume" class="resume-link">View Resume</a>
        </div>
        <div>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"> <a href="#home" class="nav__link">Home</a> </li>
                    <li class="nav__item"> <a href="#aboutme" class="nav__link">About Me</a> </li>
                    <li class="nav__item"> <a href="#technologies" class="nav__link">Technologies</a> </li>
                    <li class="nav__item"> <a href="#mywork" class="nav__link">Portfolio</a> </li>
                    <li class="nav__item"> <a href="#contact" class="nav__link">Contact</a> </li>
                </ul>
            </nav>
        </div>
        
    </header>

    <!-- Intoduction -->
    <section class="intro" id='home'>
        <h1 class="section__title section__title--intro">Hi, I am <strong>Christopher Lee</strong></h1>
        <p class="section__subtitle section__subtitle--intro">Full-Stack Developer</p>
        <img src="./images/SelfPortrait.png" alt="anime-me" class="intro__img">
    </section>

    <!-- About Me -->
    <section class="aboutme" id="aboutme">
        <h2 class="section__title section__title--aboutme">What I Do</h2>
        <div class="services">
            <div class="service">
                <h3>Languages</h3>
                    <p>JavaScript</p>
                    <p>Python</p>
                    <p>C#</p>
                    <p>MEAN</p>
                    <p>MERN</p>
            </div>
            <!-- close service -->
            <div class="service">
                <h3>About Me</h3>
                <p>Enthusiast Full-Stack Developer passionate about finding creative solutions to any problem. Highly motivated developer with hands on experience designing and developing web applications. I have discovered an eagerness to learn new things, and I enjoy being part of a team. I enjoy being creative and hope to find a position that expands upon my experiences and helps me to grow as a developer.
                    </p>
            </div>
            <!-- close service -->
            <div class="service">
                <h3>Coding Dojo</h3>
                <p>Intensive 18 week coding boot camp where I spent over 1000 hours of coding coursework learning Web Fundamentals: HTML, CSS and JavaScript and then four full stacks: Python/Django, C# /.NET, MEAN, MERN as well utilizing different frameworks and technologies.</p>
            </div>
            <!-- close service -->
        </div>
        <!-- close services -->
        <a href="#mywork" class="btn">My Portfolio</a>
    </section>

    <!-- technologies -->
    <section class="technolgies" id='technologies'>
        <h2 class="section__title section__title--technolgies">Technologies</h2>
        <img class="section__imgage section__image--technolgies" src="./images/HTML.png" alt="HTML">
        <img class="section__imgage section__image--technolgies" src="./images/CSS.png" alt="CSS">
        <img class="section__imgage section__image--technolgies" src="./images/JavaScript.png" alt="JS">
        <img class="section__imgage section__image--technolgies" src="./images/jQuery.png" alt="jQuery">
        <img class="section__imgage section__image--technolgies" src="./images/ajax.png" alt="ajax">
        <img class="section__imgage section__image--technolgies" src="./images/angular.png" alt="Angular">
        <img class="section__imgage section__image--technolgies" src="./images/python.png" alt="Python">
        <img class="section__imgage section__image--technolgies" src="./images/c-sharp.png" alt="C#">
        <img class="section__imgage section__image--technolgies" src="./images/bootstrap.png" alt="Bootstrap">
        <img class="section__imgage section__image--technolgies" src="./images/nodejs.png" alt="nodejs">
        <img class="section__imgage section__image--technolgies" src="./images/mongodb.png" alt="mongodb">
        <img class="section__imgage section__image--technolgies" src="./images/mysql.png" alt="mysql">
        <img class="section__imgage section__image--technolgies" src="./images/react.png" alt="html">
        <img class="section__imgage section__image--technolgies" src="./images/MEAN.png" alt="MEAN">
        <img class="section__imgage section__image--technolgies" src="./images/expressjs.png" alt="Express">
        <img class="section__imgage section__image--technolgies" src="./images/django.png" alt="django">
        <img class="section__imgage section__image--technolgies" src="./images/github.png" alt="github">
        <img class="section__imgage section__image--technolgies" src="./images/MERN.png" alt="MERN">
        <img class="section__imgage section__image--technolgies" src="./images/flask.png" alt="flask">
        <img class="section__imgage section__image--technolgies" src="./images/unity.png" alt="unity">
        <img class="section__imgage section__image--technolgies" src="./images/firebase.png" alt="firebase">
    </section>

    <!-- about me2 -->
    <section class="about-me" id='about-me'>
        <h2 class="section__title section__title--about">Who I Am?</h2>
        <p class="section__subtitle section__subtitle--about">Full-Stack Developer located in Chicago, IL.</p>
        <div class="about-me__body">
            <p>Enthusiast Full-Stack Developer passionate about finding creative solutions to any problem. Highly motivated developer with hands on experience designing and developing web applications. I have discovered an eagerness to learn new things, and I enjoy being part of a team. I enjoy being creative and hope to find a position that expands upon my experiences and helps me to grow as a developer.</p>
            <p>Enthusiast Full-Stack Developer passionate about finding creative solutions to any problem. Highly motivated developer with hands on experience designing and developing web applications. I have discovered an eagerness to learn new things, and I enjoy being part of a team. I enjoy being creative and hope to find a position that expands upon my experiences and helps me to grow as a developer.</p>
        </div>
        <img src="./images/ProfilePic2.jpg" alt="vert-pic" class="about-me__image">
    </section>

    <!-- my projects -->
    <section class="mywork" id="mywork">
        <h2 class="section__title section__title--mywork">My Work</h2>
        <p class="section__subtitle section__subtitle--mywork">A selection of my range of work</p>
        
        <div class="portfolio">
            <a href="portfolio-item.html" class="portfolio__item">
                <img src="./images/YouTubeClone.png" alt="" class="portfolio__image">
            </a>
            <a href="#" class="portfolio__item">
                <img src="./images/CovidTracker.png" alt="" class="portfolio__image">
            </a>
            <a href="#" class="portfolio__item">
                <img src="./images/AmazonClone.png" alt="" class="portfolio__image">
            </a>
            <a href="#" class="portfolio__item">
                <img src="./images/4-4-2020 anime eye.png" alt="" class="portfolio__image">
            </a>
            <a href="#" class="portfolio__item">
                <img src="./images/8-2-2020.png" alt="" class="portfolio__image">
            </a>
            <a href="#" class="portfolio__item">
                <img src="./images/1-6-2020 graffiti initials.png" alt="" class="portfolio__image">
            </a>
        </div>
    </section>

    <footer class="footer">
        <a href="mailto:christopher.lee222@yahoo.com" class="footer__link">christopher.lee222@yahoo.com</a>
        <ul class="social--list">
            <li class="social--list__item">
                <a href="https://www.linkedin.com/in/christopheralee22/" class="social--list__link" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="social--list__item">
                <a href="https://twitter.com/chrisl222" class="social--list__link" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="social--list__item">
                <a href="https://www.instagram.com/chrisalee222/" class="social--list__link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="social--list__item">
                <a href="https://www.facebook.com/chrisalee222/" class="social--list__link" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li class="social--list__item">
                <a href="https://github.com/chrisalee" class="social--list__link" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
    </footer>

    <script src="./script.js"></script>

</body>
</html>