*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties ******************************************************************************************************/
:root {
  --ff-primary: "Cinzel", serif;
  --ff-secondary: "IM Fell French Canon SC", serif;

  --fw-reg: 300;
  --fw-bold: 800;

  --clr-light: #ffffff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15),
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.1),
    0.01em 0.01em 0.02em rgba(0, 0, 0, 0.01);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* custom scrollbar *************************************************************************/
/* width */
::-webkit-scrollbar {
  width: 1.125em;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: var(--bs);
  border-radius: 1em;
}
/* Track color */
::-webkit-scrollbar-track-piece {
  background: var(--clr-light);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-dark);
  border-radius: 1em;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent);
}

/* General styles **********************************************************************************************/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  /* display: block; */
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

@media (max-width: 850px) {
  strong {
    font-size: var(--fs-h2);
  }
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons **************************************************************/
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  z-index: 10;
}

.btn:hover {
  transform: scale(1.1);
}

/* typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background-color: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* header ***********************************************/
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo__image {
  max-width: 100px;
}

.resume {
  margin-right: calc(5em - 2em);
}

.resume-link {
  text-decoration: none;
  line-height: 3.75em;
  color: var(--clr-dark);
  background-color: var(--clr-accent);
  padding: 0.5em 1.5em;
  border-radius: 0.1em;
  font-weight: var(--fw-bold);
}

.resume-link:hover {
  transform: scale(1.1);
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
  cursor: pointer;
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 3em;
  z-index: 100;
}

/* js nav-open */
.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
  background: var(--clr-accent);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-8px);
  background: var(--clr-accent);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-dark);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}

/* Intro Section */
.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns:
      min-content
      max-content;
  }
  .intro__img {
    grid-area: img;
    min-width: 300px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* About Me */
.aboutme {
  background-color: var(--clr-dark);
  background-image: url(./images/chicago.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--aboutme {
  color: var(--clr-accent);
  position: relative;
}

.section__title--aboutme::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-dark);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  min-width: 300px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}

/* technologies */
.technolgies {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.section__title--technolgies::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-dark);
  opacity: 0.25;
}

.section__image {
  display: flex;
}

.section__image--technolgies {
  max-width: 5.5rem;
}

/* about me 2 **********************************************/
.myEducation {
  max-width: 1000px;
  margin: 0 auto;
}

.myEducation__image {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .myEducation {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }
  .section__title--about {
    grid-area: title;
  }
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .myEducation__image {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* my projects */
.myWork {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__title--myWork {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}

.section__title--myWork::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto;
  background: var(--clr-light);
  opacity: 0.25;
}

.section__subtitle--myWork {
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio__item {
  overflow: hidden;
}

.portfolio__image {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  background: var(--clr-accent);
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__image:hover,
.portfolio__item:focus .portfolio__image {
  transform: scale(1.2);
  opacity: 0.75;
}

/* contact form*********************************************** */
.contact {
  background-color: var(--clr-dark);
  margin: 1em auto;
  max-width: 700px;
  border: 0.1em solid var(--clr-dark);
  box-shadow: var(--bs);
  color: var(--clr-light);
}

/* .contact__container {
  
} */

.contact__title {
  text-align: center;
  margin-top: -0.75em;
}

.contact__title::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto;
  background: var(--clr-light);
  opacity: 0.25;
}

.contact__form {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  margin-bottom: -3em;
}

@media (max-width: 600px) {
  .contact {
    margin: 1em;
    padding: 3.5em 0 4em;
  }
}

.contact__form--input {
  margin: 0.75em;
  padding: 0.75em;
  border-radius: 0.15em;
  box-shadow: var(--bs);
}

.btn__form {
  margin-top: 1.5em;
}

/* particles*********************************************** */
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

@media (max-width: 760px) {
  .particles-canvas {
    display: none;
  }
}

/* footer */
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social--list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social--list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social--list__items {
  margin: 0 0.5em;
}

.social--list__link {
  padding: 0.5em;
}

/* portfolio-item page ****************************************** */
.individual__project--container {
  max-width: 100%;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* .portfolio-image-individual {
  max-width: 300px;
} */

.portfolio-image-individual__main {
  border: 0.5em solid #111;
  border-radius: 0.25em;
  box-shadow: var(--bs);
}

/* Scroll Top */
.scrollTop {
  width: 100%;
  margin: 0;
  padding: 1.5em 0;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  opacity: 0.8;
}

.scrollTop:hover {
  opacity: 0.6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
